default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        args: [--safe]

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args:
          [
            --max-line-length=120,
            --per-file-ignores=__init__.py:F401,
          ]

  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
  #        args: [
  #          --line-length=110,
  #          --multi-line=3,
  #          --force-grid-wrap=0,
  #          --trailing-comma,
  #          --use-parentheses,
  #          --ensure-newline-before-comments,
  #        ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.18.2"
    hooks:
      - id: mypy
        args:
          [
            --no-strict-optional,
            --ignore-missing-imports,
            --install-types,
            --non-interactive,
          ]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
      - id: nbqa-black
        args: [--safe]
      - id: nbqa-flake8
        args: [--max-line-length=120, --per-file-ignores=__init__.py:F401]
      - id: nbqa-isort
        args: ["--profile", "black"]
      - id: nbqa-mypy
        args:
          [
            --no-strict-optional,
            --ignore-missing-imports,
            --install-types,
            --non-interactive,
          ]
